.Header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 5%;
}

.Headings {
    text-align: left;
    background-color: #282c34;
    color: white;
}

.BasicStyle {
    text-align: top;
    color: white;
    padding-left: 10%;
    background-color: #282c34;
    padding-right: 10%;
}

.CenterStyle {
    text-align: center;
    padding-top:5%;
}

.btn-OneThird {
    width: 33%;
    color: #212529;
}

.HeaderRight {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 5%;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
