.Demo {
    text-align: center;
}

body {
    background-color: #282c34;
}

.DemoHeader {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3%;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

